<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/home/nashtech/IdeaProjects/Selenium Advance Framework"><classes><class name="base.TestFlow"><methods><include name="loginAccount"/><include name="openAccount"/><include name="transferFunds"/><include name="billPay"/><include name="requestLoan"/></methods></class></classes></test></suite>